PORT=5050
OLLAMA_URL=http://127.0.0.1:11434/api/generate
OLLAMA_MODEL=qwen2.5:3b
AGGREGATOR_URL=http://proxy-server.default.121.40.148.46.sslip.io/all-status
RULE_ENGINE_URL=http://proxy-server.default.121.40.148.46.sslip.io/rules
DISPATCHER_URL=http://proxy-server.default.121.40.148.46.sslip.io/dispatch
